.cartoes{
    display: flex;
}
.cartao{
    cursor: pointer;
}
.filme{
    width: 200px;
    height: 50px;
    text-align: center;
    cursor: pointer;    
}
.filme-detalhe{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
#divResultado{
    display: flex;
    justify-content: center;
}

#divResultadoFiltro{
    display: flex;
    justify-content: center;
}

.btn {
    transition: none;
  }

.btn:hover {
    color: #858796;
    text-decoration: none;
}
  
.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}
  
.btn.disabled, .btn:disabled {
    opacity: 0.65;
}
  
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
  
  a.btn.disabled,
  fieldset:disabled a.btn {
    pointer-events: none;
}





